# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
.Python


# Environment variables
.env
.env.local
.env.production

# Static files
staticfiles/
static_root/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/

# Virtualenv
venv/
ENV/
env/
*.env

# IDEs
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
*.swo
*.swn


# Work files
sen/