{% extends 'store/base.html' %}

{% load static %}

{% block styling %}
  <link rel="stylesheet" href="{% static 'store/css/packages_list.css' %}">
{% endblock styling %}

{% block topjs %}
  <script src="{% static 'store/js/packages_list.js' %}"></script>
{% endblock topjs %}


{% block body %}
  <!-- Packages Section -->
  <section class="py-24 mt-12 bg-gray-100">
    <div class="container mx-auto px-6">
      <div class="flex justify-between items-center mb-8">
        <h2 class="text-3xl font-bold">Available Packages</h2>
        <div>
          <form action="{% url 'store:package-listing' %}" method="get" class="relative">
            <input 
              id="search-bar" 
              name="search" 
              type="text" 
              placeholder="Search packages..." 
              class="px-4 py-2 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 pr-10"
              oninput="searchPackages()"
            >
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="absolute right-3 top-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1 3.742 8.242l3.15 3.15a1 1 0 0 1-1.415 1.415l-3.15-3.15A5 5 0 0 1 8 3zm0 2a3 3 0 1 0 2.121 5.121A3 3 0 0 0 8 5z" clip-rule="evenodd"/>
              </svg>
            </button>
          </form>
        </div>
      </div>

      <!-- Message when no results are found -->
      <div id="enter-message" class="hidden flex flex-col justify-center items-center h-64 text-center fade-in">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-400 mb-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1 3.742 8.242l3.15 3.15a1 1 0 0 1-1.415 1.415l-3.15-3.15A5 5 0 0 1 8 3zm0 2a3 3 0 1 0 2.121 5.121A3 3 0 0 0 8 5z" clip-rule="evenodd"/>
        </svg>
        <p class="text-2xl font-semibold text-gray-600">
          No packages found for this search.<br> 
          <span class="text-blue-600">Hit <b>Enter</b> for more detailed search results.</span>
        </p>
      </div>

      <div id="package-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for package in packages %}
            <div class="package-card bg-white rounded-lg shadow-lg hover-bounce fade-in">
                <img src="https://raw.githubusercontent.com/QuantumLeapCU/Logos/main/logo.png" alt="Fresher's Starter Pack" class="w-405 h-489 object-cover">
                <div class="p-6">
                    <a href="{% url 'store:package-detail' package.pk %}">
                        <h3 class="text-lg underline hover:text-blue-600 font-semibold mb-2">{{ package.name }}</h3>
                    </a>
                    <p class="text-gray-600 mb-1">{{ package.description }}</p>
                    <p class="text-sm text-green-500 font-medium mb-4">Best for: {{ package.use_case }}</p>
                    <span class="text-blue-600 font-bold text-lg">&#8358;{{ package.price }}</span>
                    <div class="flex justify-between items-center mt-4">
                      <button id="add-to-cart" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-500" data-package-pk="{{ package.pk }}">Add to Cart</button>
                      <a href="{% url 'store:package-detail' package.pk %}" class="text-blue-600 hover:underline">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <form method="post">
    {% csrf_token %}
  </form>

{% endblock body %}
